h1{
    color :brown
}

img {
    width: 400px
}
#thirdDiv{
    background-color: aqua;
    height: 600px;
    width: 500px;
    margin: 50px;
    padding: 50px;
    border: 5px solid red;
}

#Spamid{
    font-size: 18px;

}